<hero class="double-hero">
  <!-- Hero with image at the center -->
  <section class="hero--center">
    <img
      src="../../images/hero-desktop.jpg"
      alt="Center Image"
      class="hero__image"
    />
    <div class="hero__content">
      <h1 class="hero__title">Centered Double-Hero Title</h1>
      <p class="hero__text">
        This is a Double-Hero section with the image in the center.
      </p>
      <div class="hero__link">
        <a href="#">Double-Hero link</a>
      </div>
    </div>
  </section>

  <section class="hero--center">
    <img
      src="../../images/hero-desktop.jpg"
      alt="Center Image"
      class="hero__image"
    />
    <div class="hero__content">
      <h1 class="hero__title">Centered Double-Hero Title</h1>
      <p class="hero__text">
        This is a Double-Hero section with the image in the center.
      </p>
      <div class="hero__link">
        <a href="#">Double-Hero link</a>
      </div>
    </div>
  </section>
</hero>

<hero class="double-hero">
  <!-- Hero with image on the left -->
  <section class="hero--left">
    <img
      src="../../images/hero-desktop.jpg"
      alt="Left Image"
      class="hero__image"
    />
    <div class="hero__content">
      <h1 class="hero__title">Left-aligned Double-Hero Title</h1>
      <p class="hero__text">
        This is a Double-Hero section with the image on the left.
      </p>
      <div class="hero__link">
        <a href="#">Double-Hero link</a>
      </div>
    </div>
  </section>
  <section class="hero--left">
    <img
      src="../../images/hero-desktop.jpg"
      alt="Left Image"
      class="hero__image"
    />
    <div class="hero__content">
      <h1 class="hero__title">Left-aligned Double-Hero Title</h1>
      <p class="hero__text">
        This is a Double-Hero section with the image on the left.
      </p>
      <div class="hero__link">
        <a href="#">Double-Hero link</a>
      </div>
    </div>
  </section>
</hero>

<hero class="double-hero">
  <!-- Hero with image on the right -->
  <section class="hero--right">
    <img
      src="../../images/hero-desktop.jpg"
      alt="Right Image"
      class="hero__image"
    />
    <div class="hero__content">
      <h1 class="hero__title">Right-aligned Double-Hero Title</h1>
      <p class="hero__text">
        This is a Double-Hero section with the image on the right.
      </p>
      <div class="hero__link">
        <a href="#">Double-Hero link</a>
      </div>
    </div>
  </section>
  <section class="hero--right">
    <img
      src="../../images/hero-desktop.jpg"
      alt="Right Image"
      class="hero__image"
    />
    <div class="hero__content">
      <h1 class="hero__title">Right-aligned Double-Hero Title</h1>
      <p class="hero__text">
        This is a Double-Hero section with the image on the right.
      </p>
      <div class="hero__link">
        <a href="#">Double-Hero link</a>
      </div>
    </div>
  </section>
</hero>
