<hero class="hero">
  <!-- Hero with image at the center -->
  <section class="hero--center">
    <div class="hero__image__wrapper">
      <img
        src="../../images/hero-desktop2.jpg"
        alt="Center Image"
        class="hero__image"
      />
    </div>
    <div class="hero__content">
      <h1 class="hero__title animate__animated animate__slideInUp">
        Centered Hero Title
      </h1>
      <p class="hero__text animate__animated animate__slideInUp">
        This is a hero section with the image in the center.
      </p>
      <div class="hero__link">
        <a href="#">Hero link</a>
      </div>
    </div>
  </section>
</hero>

<!-- <hero class="hero">
  
  <section class="hero--left">
    <div class="hero__image__wrapper">
      <img
        src="../../images/hero-desktop2.jpg"
        alt="Center Image"
        class="hero__image"
      />
    </div>
    <div class="hero__content">
      <h1 class="hero__title">Left-aligned Hero Title</h1>
      <p class="hero__text">
        This is a hero section with the image on the left.
      </p>
      <div class="hero__link">
        <a href="#">Hero link</a>
      </div>
    </div>
  </section>
</hero>

<hero class="hero">
 
  <section class="hero--right">
    <div class="hero__image__wrapper">
      <img
        src="../../images/hero-desktop2.jpg"
        alt="Center Image"
        class="hero__image"
      />
    </div>
    <div class="hero__content">
      <h1 class="hero__title">Right-aligned Hero Title</h1>
      <p class="hero__text">
        This is a hero section with the image on the right.
      </p>
      <div class="hero__link">
        <a href="#">Hero link</a>
      </div>
    </div>
  </section>
</hero> -->
